@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto", sans-serif;
}

body {
  color: hsl(221, 39%, 95%);
  background-color: hsl(221, 39%, 11%);
}

a {
  text-decoration: none;
  color: hsl(221, 39%, 95%);
  font-size: 18px;
  font-weight: 600;
  transition: 128ms ease-out color;
}

a:hover {
  color: hsl(221, 39%, 50%);
}

#app > .card {
  grid-template-columns: auto auto auto 1fr auto;
  grid-template-rows: 1fr;
  min-height: 0;
  padding: 8px 16px;
}

#app > .card > h3 {
  align-items: center;
}

#app > .card > .link-list {
  grid-column: 4;
  display: flex;
  align-items: center;
  margin: 0 128px;
  gap: 16px;
}

#app > .card > .control {
  grid-column: 3;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

#app > .card > .control > input {
  width: 64px;
}

#app > .card > .control > button {
  border-color: hsl(221, 80%, 70%);
  cursor: pointer;
  margin-left: 8px;
  color: hsl(221, 80%, 70%);
}

#app > .card > .language-control {
  grid-column: 5;
  display: flex;
  align-items: center;
}

.controle {
  max-width: 1024px;
  padding: 16px 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  background-color: hsl(221, 39%, 11%);

  z-index: 1000;

  transform: translateX(-50%);
}

.controle > select {
  grid-column: 12;
}

.controle > input {
  grid-column: 1/5;
}

input,
select,
button {
  padding: 12px;
  border-radius: 4px;
  background-color: transparent;
  color: hsl(221, 39%, 95%);
  border: 1px solid hsla(221, 19%, 40%);
  transition: background-color ease-out 175ms, border-color ease-out 125ms;
}

option {
  color: rgb(0, 0, 0);
}

input:hover {
  border-color: hsla(221, 19%, 80%);
}

input:focus {
  background-color: hsl(221, 29%, 80%, 0.07);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin: 16px auto;
  margin-top: 64px;
  padding: 0 32px;
  max-width: 1024px;
}

.card-container > p {
  grid-column: 1/4;
}

.card-container > a {
  color: inherit;
  text-decoration: none;
}

.card-container > .card {
  border-radius: 6px;
  cursor: pointer;
}

.card-container > .card:hover {
  background-color: hsl(221, 29%, 30%);
}

.card {
  background-color: hsl(221, 39%, 16%);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 6px;
  min-height: 96px;
  overflow: hidden;
}

.card > .card__image {
  grid-column: 1;
  grid-row: 1/4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 6px;
}

.card > .card__image > div {
  position: relative;
}

.card > .card__image > div::after {
  content: attr(data-recipe-count);
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 500;
  text-shadow: -2px 2px 5px black;
}

.card > * {
  margin: 0;
}

.card > *:not(img) {
  grid-column: 2;
}

.card-container > h2 {
  grid-column: 1/4;
}

.card > h3 {
  display: flex;
  align-items: end;
  font-size: 16px;
}

.card > h4 {
  color: hsl(221, 20%, 60%);
  font-size: 14px;
}

.card > p {
  color: hsl(221, 20%, 60%);
  font-size: 12px;
  font-weight: 500;
}
